#AuthName "site protege"
#AuthType Basic
#AuthUserFile "/var/www/clients/client9/web141/web/.htpasswd"
#Require valid-user

php_flag short_open_tag off
RewriteEngine On

# Si le fichier auquel on tente d'accéder existe (si on veut accéder à une image par exemple)
# Alors on ne réécrit pas l'URL
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

# enable resulting html compression
php_flag zlib.output_compression on

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access 1 month"
    ExpiresByType image/jpeg "access 1 month"
    ExpiresByType image/gif "access 1 month"
    ExpiresByType image/png "access 1 month"
    ExpiresByType text/css "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType text/x-javascript "access 1 month"
    ExpiresByType application/x-shockwave-flash "access 1 month"
    ExpiresByType application/x-font-woff "access 1 month"
    ExpiresByType image/x-icon "access 1 month"
    ExpiresDefault "access 1 month"
</IfModule>

Options -Indexes