<?xml version="1.0" encoding="utf-8"?>
<plugins>
	<plugin type="helper" name="fileGc" access="fileGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="downloadGc" access="downloadGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="dirGc" access="dirGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="pictureGc" access="pictureGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="uploadGc" access="uploadGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="zipGc" access="zipGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="bbcodeGc" access="bbcodeGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="captchaGc" access="captchaGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="dateGc" access="dateGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="feedGc" access="feedGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="mailGc" access="mailGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="modoGc" access="modoGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="paginationGc" access="paginationGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="socialGc" access="socialGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="sqlGc" access="sqlGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="textGc" access="textGc.class.php" enabled="true" include="*"/>
	<plugin type="helper" name="ftpGc" access="ftpGc.class.php" enabled="true" include="*"/>
	<plugin type="lib" name="formsGc" access="FormsGC/formsGC.php" enabled="true" include="*"/>
</plugins>
