<?xml version="1.0" encoding="utf-8"?>
<routes>  
    <route id="index" url="/" rubrique="index" action="" vars=""/>
    <route id="index" url="/index.html" rubrique="index" action="" vars=""/>
    <route id="index3" url="/index-(.*).html" rubrique="index" action="" vars="token"/>
    <route id="page" url="/page.html" rubrique="index" action="pagination" vars="page"/>
    <route id="page2" url="/page-p([0-9]+)\.html" rubrique="index" action="pagination" vars="page"/>
    <route id="template" url="/template.html" rubrique="index" action="template" vars="page"/>
    <route id="picture" url="/picture.html" rubrique="index" action="picture" vars=""/>
    <route id="contype" url="/truc/contype.xml" rubrique="index" action="contype" vars=""/>
    <route id="terminal" url="/terminal\.html" rubrique="terminal" action="" vars=""/>
    <route id="terminal_terminal" url="/terminal-terminal\.html" rubrique="terminal" action="terminal" vars=""/>
	<route id="test4" url="/url-(.*)\.html" rubrique="test1" action="actionqsd" vars="token"/>
</routes>
