*{
    box-sizing: border-box;
}
html, body{
    background-color: #E1E1E1;
    font-family: Calibri, sans-serif;
    padding: 0;
    margin: 0;
}
header{

    margin: auto;
    height: 80px;
    border-bottom: 10px solid #E74C3C;
    background-color: white;
}
header .content{
    width: 750px;
    margin: auto;
    padding: 5px 5px 5px 5px;
}
header h1{
    line-height: 60px;
    font-size: 30px;
    color: #E74C3C;
    padding-left: 65px;
    background: url('/web/gcs/img/logo60.png') top left no-repeat;
    margin: 0;
}
#main .content{
    padding: 5px 12px 5px 12px;
}
#main h1{
    color: #E74C3C;
    margin-top: 0;
}
#main a{
    color: #E74C3C;
}
footer{
    width: 750px;
    margin: auto;
    color: white;
    padding: 5px;
    background-color: #E74C3C;
}